
@{
    ViewData["Title"] = "Form Submitted";
}

@model Mission6_ev244.Models.ApplicationResponse

@*Can do if statement in this. depending on what they have selected can display different messages*@ 

<h2>Form Has Been Submitted for Movie: @Model.Title</h2>
