@{
    ViewData["Title"] = "Delete Movie";
}

@model Mission6_ev244.Models.ApplicationResponse

@*deletes entries in table*@
<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the movie, @Model.Title?</h3>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button> <br /><br />
    <a asp-controller="Home" asp-action="ListMovies" class="btn btn-primary">Cancel</a>

    <input type ="hidden" asp-for="MovieId"/>
</form>
